{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>The sky tonight</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="{% static 'style.css' %}" rel='stylesheet' type='text/css'>
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
	<div id="header" class="jumbotron text-light text-center">
		<h1 class="display-3">The sky tonight</h1>
		<p class="lead">An amateur astronomy helper tool</p>
	</div>
	<div id="cloud" class="jumbotron text-center">
		<div>
			<h1 class="display-4">Current cloud cover for {{location_weather.city}}</h1>
			<h1 class="display-1">{{location_weather.clouds}} %</h1>
			<img src="http://openweathermap.org/img/w/{{location_weather.icon}}.png">
			<p class="lead">{{location_weather.description}}</p>
		</div>
	</div>
	<div class="pr jumbotron text-center">
		<h1 id=title class="display-4">Nasa image of the day</h1><br>
		<div>
			<button class="btn btn-dark" id="update">Get picture of the day</button>
		</div><br>
		<img class="img-fluid" id="img"></img><br><br>
		<p class="lead" id="desc"></p>
	</div>
	<div id="pr" class="jumbotron text-center">
		<form name="form" method="POST">
			{% csrf_token %}
			<p class="lead text-light">Have you taken a high - quality astro image and want to know if it is a star or galaxy? Paste image url bellow and check out the prediction based on Microsoft Custom Vision model trained on 25 pictures of stars and galaxies. </h5></p>
			<input type="text" class="form-control" name="url"><br>
			<input class="btn btn-dark" type="submit" name="submit" value="Add Image URL"><br><br>
		</form>
		<h1 class="text-light">{{prediction}}</h1>
	</div>
</body>

<script>
	var myApiKey = "C0XzU5mIsJHRhVIzdkLGYI0Sp6M4XdlDXmYxz8WD";

$(document).ready(function () {
  $("#update").click(handleUpdateClick);
});

function handleUpdateClick(event) {
  var date = $("#image-date").val();
  var url = buildApodUrl(date);
  $.getJSON(url, function (response) {
    $("#img").attr("src", response.url);
    $("#title").html(response.title);
    $("#desc").html(response.explanation);
  });
}

function buildApodUrl(date) {
  // Unfortunately, https://api.nasa.gov does not
  // seem to properly respond with a CORS header.
  // A proxy page will be used to redirect the
  // request and properly handle CORS headers.
  var url = "https://api.nasa.gov/planetary/apod?";
  url += "&api_key=" + myApiKey;
  return url;
}
</script>
</html>